.morningSection {
  background-image: url("/images/landing-page/bg-schedule1.svg");
  background-repeat: no-repeat;
}
.afternoonSection {
  background-image: url("/images/landing-page/bg-schedule2.svg");
  background-repeat: no-repeat;
}
