#showcase .swiper-pagination-bullet {
  background-color: #fff;
}

#showcase .swiper-button-next {
  right: 20px;
  background-image: url("/images/icon-arrow-right.svg");
}

#showcase .swiper-button-prev {
  left: 20px;
  background-image: url("/images/icon-arrow-left.svg");
}

#showcase .swiper-button-next,
#showcase .swiper-button-prev {
  background-color: rgba(165, 250, 255, 0.2);
  color: white;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

#showcase .swiper-button-next:hover,
#showcase .swiper-button-prev:hover {
  background-color: rgba(165, 250, 255, 0.5);
}

#showcase .swiper-button-next:after,
#showcase .swiper-button-prev:after {
  content: "";
}
